{% extends "admin/change_form.html" %}
{% load i18n %}


{% comment %}
We have to override this or the path to jsi18n will be wrong.
Note the "super.super", as the direct parent has the wrong url.
{% endcomment %}
{% block extrahead %}{{ block.super.super }}
<script type="text/javascript" src="../../../../../jsi18n/"></script>
{{ media }}
{% endblock %}


{% block breadcrumbs %}

    <ul>
    {% if add %}
        <li><a href="../../../../../">{% trans "Home" %}</a></li>
        <li><a href="../../../">{% trans "Menus" %}</a></li>
        <li><a href="../../">{{ menu.title }}</a></li>
        <li>Добавление пункта меню</li>
    {% else %}
        <li><a href="../../../../../">{% trans "Home" %}</a></li>
        <li><a href="../../../">{% trans "Menus" %}</a></li>
        <li><a href="../../">{{ menu.title }}</a></li>
        <li>{{ original|escape|truncatewords:"18" }}</li>
    {% endif %}
    </ul>

{% endblock %}